h1 {
    font-size: 48px;
    color: red;
    background-color: green;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    text-align: center;
    color: blue;
}

.icecreamtext {
    color: pink;
}

#icecreamfirstbullet {
    color: purple;
}